.map-container {

    height: 80%;


}
.legend {
    padding: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
    font:
        12px/20px 'Helvetica Neue',
        Arial,
        Helvetica,
        sans-serif;
    padding: 15px;
}
.button {
    /* default button colour */
    background-color:burlywood;
    margin: 4%;
}
